{% load static %}
<header class="mb-auto">
    <div>
        <a class="navbar-brand" href="{% url 'home:home_view' %}">
            <img src="{% static 'img/logo.png' %}" alt="" width="40" height="40">
          </a>
      <h3 class="float-md-start mb-0">GC-Snippets</h3>
      <nav class="nav nav-masthead justify-content-center float-md-end">
        <a class="nav-link fw-bold py-1 px-0 active" aria-current="page" href="#">Home</a>
        <a class="nav-link fw-bold py-1 px-0" href="#">Add New Snippet</a>
        <a class="nav-link fw-bold py-1 px-0" href="#">Notes</a>
      </nav>
    </div>
  </header>